
    .search_head
    {
        font-size:20px;
        color:#0000ff;
    } 
    .search_desc
    {
        font-size:13px;
        color:#000000;
    } 
    .tag
    {
        font-size:17px;
        color:#00000f;
    } 

